.Dialog {
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    background-color: #EEEEEE;
    border-radius: 22px;
    border: 1px solid #000000;
    position: absolute;
    cursor: move;
}

.DialogTitle {
    height: 40px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 23px;
}

.Contents {
    padding: 10px 20px;
}
